<ul>
    <li><a [routerLink]="['./', 1]" routerLinkActive="active"><img src="../../../assets/img/avatars/1.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 2]" routerLinkActive="active"><img src="../../../assets/img/avatars/2.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 3]" routerLinkActive="active"><img src="../../../assets/img/avatars/3.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 4]" routerLinkActive="active"><img src="../../../assets/img/avatars/4.jpg" alt=""></a></li>
    <!-- <li><a [routerLink]="['./', 5]" routerLinkActive="active"><img src="../../../assets/img/avatars/5.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 6]" routerLinkActive="active"><img src="../../../assets/img/avatars/6.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 7]" routerLinkActive="active"><img src="../../../assets/img/avatars/7.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 8]" routerLinkActive="active"><img src="../../../assets/img/avatars/8.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 9]" routerLinkActive="active"><img src="../../../assets/img/avatars/9.jpg" alt=""></a></li>
    <li><a [routerLink]="['./', 10]" routerLinkActive="active"><img src="../../../assets/img/avatars/10.jpg" alt=""></a></li> -->
</ul>
